ul.gallery{
    list-style: none;
    margin: 0px;
    padding: 0px;

    /* max-width: 1080px;     */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
ul.gallery li{
    width: 330px;
    height: 200px; 
    margin: 8px 10px; 
     
}

ul.gallery li img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.5s; 
}
ul.gallery li img:hover{
    width: 105%;
    height: 105%; 
    translate: -2.5% -2.5%;
}


div.modal{
    display: flex;
    flex-direction: column;
    align-content: center;
    /* width: 100%; */
    height: 800px    
}
div.modal img{
    width: auto;
    height: 90%;    
}
div.modal p{
    color: white;
    font-size: 20px;
    text-align: center;
}